<div class="container">
  <h1>Lista de Caninos para Adopción</h1>

  <h2>Seleccione las Mascotas para Adoptar</h2>

      <div class="mascota-card">
        <img src="assets/img/cachorro.jpg" class="d-block w-100" alt="perrito 1">
        <h2>FIRULAIS</h2>
        <p>Este cachorro de apenas 3 meses, llegó recientemente a nosotros y busca papitos que quieran adoptarlo y darle una vida plena y feliz</p>
        <button class="seleccionar-btn">Seleccionar</button>
      </div>

      <div class="mascota-card">
        <img src="assets/img/perroadulto.jpg" class="d-block w-100" alt="perrito 2">
        <h2>RAMON</h2>
        <p>Ramon es un perrito de 10 años, fue traido a nosotros debido que su mamita falleció y nadie pudo hacerse cargo de él, es muy noble y está buscando nuevos papitos que deseen darle a su vida una estrellita de felicidad.</p>
        <button class="seleccionar-btn">Seleccionar</button>
      </div>

      <div class="mascota-card">
        <img src="assets/img/perrodecaza.jpg" class="d-block w-100" alt="perrito 3">
        <h2>YANGO</h2>
        <p>Este perrito lo hallamos en las calles abandonado, tiene al rededor de 3 añitos, es bastante juguetón y excelente niñero, está buscando una familia que desee darle un hogar feliz.</p>
        <button class="seleccionar-btn">Seleccionar</button>
      </div>

<!-- Repite para más mascotas -->
