

<div class="banner">

  <div class="canine-image-container">
    <img *ngIf="imagenBase64" [src]="imagenBase64" alt="Imagen">
<div class="botonescambiar">
  <button class="cambiar" (click)="  cambiarCaninoatras()">Anterior </button>
  <button class="cambiar" (click)="  cambiarCaninoadelante()">Siguiente </button>
</div>

  </div>


  <div class="canine-info">
    <h2>{{ nombre }}</h2>
    <p><strong>Edad:</strong> {{ edad }} años</p>
    <p><strong>Raza:</strong> {{ raza }}</p>
    <p><strong>Descripción:</strong> {{ descripcion }}</p>
    <p><strong>Estado de Salud:</strong> {{ estadoSalud }}</p>
    <p><strong>Temperamento:</strong> {{ temperamento }}</p>
    <div class="botonesacciones">
      <br>
      <br>
      <h3><strong>Esta bonito verdad!? Puedes <span class="ayuda">ayudar</span> con una de las siguientes opciones:</strong></h3>
      <button class="accion1" [routerLink]="'/adoption'">Adoptar</button>
      <button class="accion2" [routerLink]="'/adoption-cart'">Donar</button>
    </div>
  </div>



</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


