.TITULO{

  text-align: center;
  font-size: 30px;

}



.alert-info {
  background-color: rgb(228, 225, 225); /* Color de fondo */
  color: rgb(255, 0, 0); /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  padding: 50px; /* Espaciado interno */
  border: 2px solid rgb(255, 0, 0); /* Borde con grosor y color */
  border-radius: 10px; /* Borde redondeado */
  width: 50%; /* Ancho del cuadro, puedes ajustar según tus necesidades */
  margin: 0 auto; /* Centra horizontalmente en la pantalla */
  text-align: center; /* Alinea el texto al centro */
}


.login-container {

  input {
    width: 100%; /* Usa el 100% del ancho disponible */
    max-width: 280px; /* Ajusta el ancho máximo para input según tus necesidades */
    margin-bottom: 10px;
    text-align: center; /* Alinea el texto al centro */
    height: 30px; /* Ajusta la altura según tus necesidades */
  }

    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    h2 {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;

      label,
      input {
        margin-bottom: 10px;
      }

      button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
