<footer>
    <div class="contact-info">
      <!-- Información de contacto (dirección, teléfono, correo electrónico, etc.) -->
      <p>Dirección: 123 Calle Principal, Ciudad</p>
      <p>Teléfono: (123) 456-7890</p>
      <p>Correo Electrónico: info@example.com</p>
    </div>
    <div class="social-links">
      <!-- Enlaces a redes sociales (por ejemplo, Facebook, Twitter, Instagram) -->
      <a href="https://www.facebook.com/tu_pagina" target="_blank">Facebook</a>
      <a href="https://twitter.com/tu_pagina" target="_blank">Twitter</a>
      <a href="https://www.instagram.com/tu_pagina" target="_blank">Instagram</a>
    </div>
  </footer>
  